$siteSize: 1400px;
$k_color: #004071;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
